<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Bienvenido {{user.user}}</h1>
    <p><a href="/buscador">Buscar libro</a></p>
    <p><a href="/buscaautor">Buscar autor</a></p>
    <p><a href="/altalibros">Dar de alta un libro</a></p>
    <p><a href="/altausuario">Dar de alta un usuario</a></p>
    <p><a href="/logout">Cerrar sesión</a></p>
  </body>
</html>
